<h3><i class="fas fa-book-reader"></i> Storybooks</h3>
<div class="section">
    <p class="lead">Create public and private stories</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a><br><br>
    <a class="btn blue darken-1" onclick="
            document.cookie='connect.sid=s%3Ajrrt_inJaMTGmuAY7dxOReSwHG7VcxO4.XNx6HksPqBW53bvJ5eJRI4nVg6TjLYp4OtQLlaiIRRI';
            window.location.pathname = '/stories'
    ">
        Log In As Viewer
    </a>
</div>